/* Colors */
.color-primary
{
    color: $primary-color;
}

.color-primary-bg
{
    background: $primary-color;
}

.color-second
{
    color: $seconadary-color;
}

.color-second-bg
{
    background: $seconadary-color;
}

.color-third
{
    color: $tertiary-color;
}

.color-third-bg
{
    background: $tertiary-color;
}
